{% extends 'base.html' %}

{% block title %}Estoque Baixo{% endblock %}

{% block content %}
<h2>Produtos com Estoque Baixo</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Código</th>
            <th>Estoque Atual</th>
            <th>Estoque Mínimo</th>
            <th>Diferença</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr class="table-warning">
            <td>{{ produto.nome }}</td>
            <td>{{ produto.codigo }}</td>
            <td>{{ produto.quantidade }}</td>
            <td>{{ produto.estoque_minimo }}</td>
            <td>{{ produto.diferenca }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Nenhum produto com estoque baixo</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}